.jumbotron {
  padding-top: 6rem;
  background-color: #dfd7d7b4;
}

#project {
  background-color: #dfd7d7b4;
}

section {
  padding-top: 5rem;
}

footer {
  background-color: #dfd7d7b4;
  border: 0px;
}
